*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(89, 30, 145);
}
.abhi{
  display: flex;
  justify-content: space-between;
  
  align-items: center;
  
 margin: 0 150px;
 margin-top: 250px;
padding: 20px;
}
i{
    color:rgb(255, 255, 255);
    
}
.counter{
    line-height: 1.8;
    font-size: 50px;
    text-decoration: solid;
    color: rgb(253, 250, 39);
    font-style: italic;
    font-weight: 200;
}
#abhi1{

    color: rgb(0, 0, 0);
    font-size: 25px;
    font-style: italic;
    font-weight: 600;
    
    
}